[gateway]
address = "0.0.0.0:1337"
threads = 4
process_name_prefix = "sdk-gateway-worker-"
default_token = "T0BdxB0O/+eRZhN6REPmbYpTqjxCTtUgirbW7ABJ8renKaxoGbHFsOX2iLFhuWaJbZHzmTnvKv15fv/87ceIQQ=="
allow_empty_signature = false

[kafka]
brokers = ["kafka.service.consul:9092"]
topic = "staging.sdk.events"

[cors]
allowed_methods = "POST,OPTIONS"
allowed_headers = "Content-Type, Content-Length, X-Real-IP, D360-Signature, D360-Device-Id, D360-Api-Token"

[[origins]]
app_id = 52
allowed = ["https://www.hrs.de"]

[[origins]]
app_id = 163
allowed = ["http://localhost:5401", "https://qsphere.de", "http://not-secure.qsphere.de", "http://dev1.qsphere.de", "http://dev2.qsphere.de", "http://dev3.qsphere.de", "http://dev4.qsphere.de"]

[[origins]]
app_id = 174
allowed = ["https://anreizstruktur.github.io"]

[[origins]]
app_id = 179
allowed = ["https://megadeal.telekom-dienste.de", "https://td-megadeal.i22hosting.de"]

[[origins]]
app_id = 180
allowed = ["https://megadeal.telekom-dienste.de", "https://td-megadeal.i22hosting.de", "https://td-megadeal-staging.i22hosting.de"]

[[origins]]
app_id = 181
allowed = ["https://www.360dialog.com", "https://rt.360dialog.io"]

[[origins]]
app_id = 185
allowed = ["https://www.gelbeseiten.de", "https://rt.360dialog.io"]